* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-family: 'Rubik', sans-serif;
}

.container h2 {
  line-height: 40px;
  color: #f1f1f1;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  /* background: #50a3a2; */
}

body ::-webkit-input-placeholder {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

body :-ms-input-placeholder {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.wrapper {
  background: #555;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 700px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0;
  height: 400px;
  text-align: center;
}

form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
  top: 10px;
}

form input {
  outline: 0;
  background: #666;
  width: 280px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  font-size: 18px;
  font-weight: 300;
}

form input:hover {
  background-color:#f1f1f1;
}

form button {
  outline: 0;
  border: 0;
  padding: 10px 15px;
  border-radius: 3px;
  width: 280px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}

form button:hover {
  background-color: #f5f7f9;
  font-size: 20px;
}
